/*
!.github
!.gitignore
!.nvmrc
!.travis.yml
!build.sh
!LICENSE
!README.md
!now.json
!now.redirect.json

!src
src/*
!src/apple-icon*
!src/android-icon*
!src/favicon*
!src/index.html
!src/index.js
!src/Copy
src/Copy/*
!src/styles
src/styles/*
!src/styles/fonts
!src/assets
src/assets/*
!src/assets/banner.png
!src/assets/story_images

# Edit these only
!src/Copy/BrandCopy.elm
!src/styles/theme.scss
!src/styles/icons.css
